In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("chase_deposits_us.csv")

In [4]:
data.head(10)

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594
5,JPMorgan Chase Bank,0,Mount Vernon Branch,9,02/25/1964,NaN,22 West First Street,Mount Vernon,Westchester,NY,10550,40.91144,-73.83804,146820.0,136672.0,140678.0,154313.0,1.487070e+05,1.454990e+05,151949
6,JPMorgan Chase Bank,0,Castle Hill Branch,12,12/11/1965,NaN,784 Castle Hill Avenue,Bronx,Bronx,NY,10473,40.82292,-73.84887,75131.0,80172.0,82333.0,94538.0,9.704600e+04,1.071660e+05,110592
7,JPMorgan Chase Bank,0,Burnside Avenue Branch,15,02/14/1922,NaN,5 West Burnside Avenue,Bronx,Bronx,NY,10453,40.85389,-73.90760,39888.0,42546.0,43800.0,45867.0,5.136300e+04,5.669300e+04,62993
8,JPMorgan Chase Bank,0,Gun Hill Branch,16,12/18/1950,NaN,1308 East Gun Hill Road,Bronx,Bronx,NY,10469,40.87151,-73.84823,73702.0,70049.0,70447.0,78946.0,8.067700e+04,8.275600e+04,88954
9,JPMorgan Chase Bank,0,Kingsbridge Road Branch,18,08/18/1924,NaN,66 East Kingsbridge Road,Bronx,Bronx,NY,10468,40.86671,-73.89562,69778.0,72816.0,74729.0,75470.0,7.875900e+04,8.397800e+04,88674

In [5]:
data.tail()

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
5408,JPMorgan Chase Bank,0,Alameda and Compton Blvd Branch,7981,11/03/2015,NaN,251 E Compton Blvd,Compton,Los Angeles,CA,90220,33.89601,-118.22084,NaN,NaN,NaN,NaN,NaN,NaN,3446
5409,JPMorgan Chase Bank,0,Charleston and Rancho,7982,02/02/2016,NaN,2311 W Chafrleston Blvd,Las Vegas,Clark,NV,89102,36.14270,-115.19043,NaN,NaN,NaN,NaN,NaN,NaN,2666
5410,JPMorgan Chase Bank,0,Los Olivos Branch,7984,03/15/2016,NaN,8593 Irvine Center Drive,Irvine,Orange,CA,92618,33.64412,-117.74453,NaN,NaN,NaN,NaN,NaN,NaN,6689
5411,JPMorgan Chase Bank,0,Lake Forest Branch,7988,01/01/2016,NaN,5660 Read Blvd,New Orleans,Orleans,LA,70127,30.03205,-89.97260,NaN,NaN,NaN,NaN,NaN,NaN,94133
5412,JPMorgan Chase Bank,0,Buffalo-Mm Branch,7989,01/01/2016,NaN,350 Main Street,Buffalo,Erie,NY,14202,42.88429,-78.87487,NaN,NaN,NaN,NaN,NaN,NaN,45596

In [7]:
data.shape

(5413, 20)

In [10]:
dfState = data.set_index("State")
dfState.head()

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,,,,,,,,,,,,,
OH,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
NY,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
NY,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
NY,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
NY,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594

In [12]:
dfState.groupby("State").mean().head()

,Main Office,Branch Number,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,,,,,,
AZ,0.0,3633.179688,85398.687500,33.383542,-111.899391,75895.315574,77178.281124,83572.673228,91961.228346,96719.066406,106869.234375,117683.320312
CA,0.0,5913.613161,92805.446660,35.336353,-119.409642,83221.265363,82050.839793,82603.579191,85457.394036,92364.824065,102622.498996,118602.919242
CO,0.0,4774.482456,80312.236842,39.755065,-104.976522,69282.594059,81529.990566,80245.581818,95895.300885,86281.628319,90151.601770,101129.771930
CT,0.0,3319.280000,6753.000000,41.187905,-73.375007,88994.609756,91244.880952,92204.000000,96166.702128,98003.734694,100071.880000,110660.440000
DC,0.0,4409.000000,20006.000000,38.900240,-77.038070,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
dfState.groupby("State").sum().head()

,Main Office,Branch Number,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,,,,,,
AZ,0,930094,21862064,8512.80314,-28534.34458,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930
CA,0,5931354,93083863,34629.62581,-117021.44869,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728
CO,0,544291,9155595,4532.07743,-11967.32348,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794
CT,0,165964,337650,1977.01942,-3522.00035,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022
DC,0,4409,20006,38.90024,-77.03807,0.0,0.0,0.0,0.0,0.0,0.0,0

In [17]:
dfState1 = dfState.groupby("State").sum()
dfStateDeposits = dfState1.iloc[:, 5:]
dfStateDeposits.head()

#parameters for iloc:
#  1) first : means ALL rows
#  2) 5: means all columns after the 5th column
#   [:, 5:6] means ALL rows and columns 5 and 6

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,
AZ,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930
CA,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728
CO,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794
CT,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022
DC,0.0,0.0,0.0,0.0,0.0,0.0,0

In [18]:
dfStateDeposits.describe()

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
count,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01
mean,4.796397e+07,5.648664e+07,6.324907e+07,6.975289e+07,7.870365e+07,8.163962e+07,8.886039e+07
std,1.350215e+08,1.598470e+08,1.789220e+08,1.963973e+08,2.202840e+08,2.279255e+08,2.476405e+08
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.601384e+06,1.581912e+06,1.700482e+06,1.871332e+06,2.203384e+06,2.558686e+06,3.598915e+06
50%,6.541136e+06,7.700594e+06,8.060074e+06,9.367626e+06,9.108016e+06,1.114782e+07,1.211900e+07
75%,1.728125e+07,1.790490e+07,1.970936e+07,2.204719e+07,2.390759e+07,2.670431e+07,2.980439e+07
max,6.503506e+08,7.628337e+08,8.534400e+08,9.389485e+08,1.056778e+09,1.094947e+09,1.183589e+09

In [21]:
dfStateDeposits = dfStateDeposits.drop(['DC', 'MA', 'PA'])

ValueError: labels ['DC' 'MA' 'PA'] not contained in axis

In [22]:
dfStateDeposits.head()

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,
AZ,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930
CA,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728
CO,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794
CT,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022
FL,9708730.0,11568770.0,14901287.0,18114286.0,21350108.0,24741660.0,28836780

In [24]:
dfStateDeposits.loc['CO']

2010 Deposits     6997542.0
2011 Deposits     8642179.0
2012 Deposits     8827014.0
2013 Deposits    10836169.0
2014 Deposits     9749824.0
2015 Deposits    10187131.0
2016 Deposits    11528794.0
Name: CO, dtype: float64

In [27]:
data[data.State == 'CO']

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
1825,JPMorgan Chase Bank,0,Denver Bank One Branch,3087,10/14/1963,11/13/2004,1125 17th Street,Denver,Denver,CO,80202,39.74923,-104.99499,3252426.0,4460872.0,3929176.0,5258851.0,3476423.0,3047247.0,3230688
1826,JPMorgan Chase Bank,0,Englewood Hampden Branch,3088,12/20/1910,11/13/2004,333 West Hampden Avenue,Englewood,Arapahoe,CO,80110,39.65331,-104.99245,109101.0,116638.0,117142.0,117914.0,117671.0,144800.0,156310
1827,JPMorgan Chase Bank,0,University Hills Branch,3089,03/12/1956,11/13/2004,2696 South Colorado Boulevard,Denver,Denver,CO,80222,39.66876,-104.94062,206919.0,223505.0,256021.0,254060.0,278184.0,291199.0,320073
1828,JPMorgan Chase Bank,0,Westminster Branch,3091,05/04/1959,11/13/2004,7301 North Federal Boulevard,Westminster,Adams,CO,80030,39.82864,-105.02504,157884.0,166997.0,169361.0,177463.0,174971.0,187120.0,194321
1829,JPMorgan Chase Bank,0,Littleton Branch,3093,01/01/1909,11/13/2004,5734 South Prince Street,Littleton,Arapahoe,CO,80120,39.61298,-105.01620,113479.0,121711.0,133994.0,147524.0,168159.0,187357.0,207404
1830,JPMorgan Chase Bank,0,Alameda Branch,3095,10/15/1962,11/13/2004,5500 West Alameda Avenue,Lakewood,Jefferson,CO,80226,39.71119,-105.05744,67738.0,71186.0,75921.0,83224.0,86789.0,97804.0,106955
1831,JPMorgan Chase Bank,0,Northeast Branch,3096,11/02/1992,11/13/2004,3300 Colorado Boulevard,Denver,Denver,CO,80205,39.76317,-104.94051,14613.0,14763.0,18919.0,26471.0,29339.0,34661.0,40978
1832,JPMorgan Chase Bank,0,County Line Branch,3097,06/27/1994,11/13/2004,8283 South Quebec Street,Englewood,Arapahoe,CO,80112,39.56679,-104.90444,67824.0,89941.0,100889.0,100621.0,106011.0,117224.0,139273
1833,JPMorgan Chase Bank,0,Table Mesa Branch,3098,01/01/1924,11/13/2004,603 South Broadway,Boulder,Boulder,CO,80305,39.98536,-105.24990,128826.0,145549.0,159057.0,171830.0,184106.0,192839.0,217226
1834,JPMorgan Chase Bank,0,Louisville Colorado Branch,3099,02/08/1915,11/13/2004,833 Main Street,Louisville,Boulder,CO,80027,39.97843,-105.13215,45602.0,46652.0,52011.0,57666.0,59524.0,64471.0,66872
1835,JPMorgan Chase Bank,0,Lafayette Branch,3100,07/29/1953,11/13/2004,200 North Public Road,Lafayette,Boulder,CO,80026,39.99952,-105.09047,73422.0,84916.0,86051.0,102575.0,117351.0,137932.0,140417
1836,JPMorgan Chase Bank,0,Arapahoe Branch,3101,11/28/1960,11/13/2004,2500 Arapahoe Avenue,Boulder,Boulder,CO,80302,40.01456,-105.26151,120869.0,122967.0,140630.0,162459.0,175233.0,199644.0,226740
1837,JPMorgan Chase Bank,0,Gunbarrel Branch,3102,08/02/1993,11/13/2004,6300 Gunpark Drive,Boulder,Boulder,CO,80301,40.07072,-105.20543,54273.0,56789.0,60582.0,69709.0,81184.0,93198.0,158468
1838,JPMorgan Chase Bank,0,Uptown Colorado Springs Branch,3104,05/15/1972,11/13/2004,402 North Tejon Street,Colorado Springs,El Paso,CO,80903,38.83965,-104.82445,385042.0,358496.0,401598.0,449793.0,435100.0,445502.0,356447
1839,JPMorgan Chase Bank,0,Austin Bluffs Branch,3105,09/11/1981,11/13/2004,4190 Austin Bluffs Parkway,Colorado Springs,El Paso,CO,80918,38.89260,-104.75318,52648.0,56465.0,60351.0,62262.0,68183.0,70354.0,78571
1840,JPMorgan Chase Bank,0,Manitou Springs Convenience Branch,3106,04/19/1971,11/13/2004,484 Manitou Avenue,Manitou Springs,El Paso,CO,80829,38.85754,-104.91017,25868.0,27141.0,27621.0,29179.0,31569.0,34143.0,35277
1841,JPMorgan Chase Bank,0,Loveland Branch,3107,07/02/1932,11/13/2004,200 East 7th Street,Loveland,Larimer,CO,80537,40.39853,-105.07444,107664.0,112041.0,118427.0,131836.0,147457.0,164493.0,179726
1842,JPMorgan Chase Bank,0,Loveland Motorbank Branch,3108,09/04/1973,11/13/2004,975 North Lincoln Avenue,Loveland,Larimer,CO,80537,40.40196,-105.07319,0.0,0.0,0.0,0.0,0.0,0.0,0
1843,JPMorgan Chase Bank,0,Westlake Loveland Branch,3109,12/04/1964,11/13/2004,1905 West Eisenhower Boulevard,Loveland,Larimer,CO,80537,40.40737,-105.10401,49959.0,54463.0,55763.0,61419.0,63086.0,73936.0,79195
1844,JPMorgan Chase Bank,0,Fort Collins Branch,3111,11/30/1962,11/13/2004,2000 South College Avenue,Fort Collins,Larimer,CO,80525,40.56150,-105.07686,69387.0,71243.0,80512.0,84695.0,91091.0,104212.0,116847
1845,JPMorgan Chase Bank,0,Greeley Downtown Branch,3112,01/01/1934,11/13/2004,822 7th Street,Greeley,Weld,CO,80631,40.42584,-104.69201,54443.0,57879.0,62602.0,70238.0,79258.0,79840.0,76122
1846,JPMorgan Chase Bank,0,West Greeley Branch,3115,07/05/1963,11/13/2004,2600 West Tenth Street,Greeley,Weld,CO,80631,40.42285,-104.72282,30837.0,33380.0,37168.0,42906.0,50779.0,56874.0,61343
1847,JPMorgan Chase Bank,0,Mccaslin Branch,3116,02/21/1995,11/13/2004,578 South Mccaslin Boulevard,Louisville,Boulder,CO,80027,39.96219,-105.16399,70594.0,85679.0,93603.0,107766.0,116671.0,136018.0,157396
1848,JPMorgan Chase Bank,0,Broadway & Alameda Albertson Branch,3117,05/15/1996,11/13/2004,323 South Broadway,Denver,Denver,CO,80209,39.71071,-104.98766,14866.0,17117.0,19327.0,24473.0,24435.0,27116.0,31126
1849,JPMorgan Chase Bank,0,Garden Of The Gods Albertsons Branch,3118,05/08/1996,11/13/2004,4405 Centennial Boulevard,Colorado Springs,El Paso,CO,80919,38.89497,-104.85124,12077.0,12962.0,12572.0,16043.0,16570.0,18175.0,21717
1850,JPMorgan Chase Bank,0,Washington and 12oth Albertsons Brh,3120,04/24/1996,11/13/2004,500 East 120th Avenue,Northglenn,Adams,CO,80233,39.91404,-104.98071,10915.0,12291.0,12003.0,14170.0,14759.0,16561.0,18030
1851,JPMorgan Chase Bank,0,Denver Tech Center Branch,3137,02/18/2002,11/13/2004,4968 South Yosemite Street,Greenwood Village,Arapahoe,CO,80111,39.62496,-104.88511,47970.0,62364.0,69665.0,78279.0,110898.0,125588.0,132241
1852,JPMorgan Chase Bank,0,Ken Caryl Branch,3139,08/12/2002,11/13/2004,9855 West Remington Place,Littleton,Jefferson,CO,80128,39.56470,-105.10803,31132.0,31415.0,46655.0,44458.0,54810.0,54253.0,62105
1885,JPMorgan Chase Bank,0,Boulder Downtown Banking Branch,3182,12/09/2002,11/13/2004,1301 Canyon Boulevard,Boulder,Boulder,CO,80302,40.01633,-105.27731,303690.0,331659.0,348593.0,412092.0,432497.0,510236.0,592839
1888,JPMorgan Chase Bank,0,Briargate Albertons Branch,3188,02/26/2003,11/13/2004,8750 North Union Boulevard,Colorado Springs,El Paso,CO,80920,38.95859,-104.76437,11604.0,12538.0,12976.0,16135.0,17908.0,18830.0,21073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4414,JPMorgan Chase Bank,0,Main and 119 Branch,6798,05/21/2009,NaN,390 Ken Pratt Blvd,Longmont,Boulder,CO,80501,40.15258,-105.09324,3979.0,8347.0,13757.0,19416.0,23595.0,36734.0,43614
4475,JPMorgan Chase Bank,0,Arapahoe and Yosemite Branch,6869,09/25/2008,NaN,8501 E Arapahoe Rd,Greenwood Village,Arapahoe,CO,80112,39.59516,-104.89334,20767.0,29488.0,37835.0,47908.0,43785.0,59161.0,81899
4476,JPMorgan Chase Bank,0,Golden Town Center Branch,6870,09/25/2008,NaN,17207 S Golden Rd,Golden,Jefferson,CO,80401,39.73814,-105.19449,11105.0,12880.0,17016.0,19123.0,23109.0,25593.0,32845
4477,JPMorgan Chase Bank,0,Firehouse Square Branch,6871,09/25/2008,NaN,"1038 E 6th Ave, Unit A",Denver,Denver,CO,80218,39.72559,-104.97446,19729.0,22905.0,32413.0,41586.0,59897.0,74029.0,82066
4478,JPMorgan Chase Bank,0,Iris and 28th St Branch,6872,09/25/2008,NaN,"3325 28th St, Unit 4",Boulder,Boulder,CO,80301,40.03535,-105.25853,15916.0,19431.0,23316.0,30192.0,38419.0,44871.0,54485
4479,JPMorgan Chase Bank,0,Federal and Evans Branch,6873,09/25/2008,NaN,2980 W Evans Ave,Denver,Denver,CO,80219,39.67863,-105.02412,3185.0,4252.0,5809.0,7450.0,9603.0,12682.0,14347
4480,JPMorgan Chase Bank,0,Edgewater Marketplace Branch,6874,09/25/2008,NaN,1705 Sheridan Blvd,Edgewater,Jefferson,CO,80214,39.74483,-105.05318,3133.0,5540.0,6760.0,7729.0,10844.0,13573.0,16808
4481,JPMorgan Chase Bank,0,Milestone Center Branch,6877,09/25/2008,NaN,4773 Milestone Ln,Castle Rock,Douglas,CO,80104,39.40913,-104.86340,20096.0,27963.0,36889.0,45044.0,56896.0,62293.0,86987
4482,JPMorgan Chase Bank,0,Colfax and Sable Branch,6878,03/28/2005,09/25/2008,"14601 E Colfax Ave, Unit A",Aurora,Adams,CO,80011,39.74024,-104.81822,6040.0,9794.0,12127.0,12844.0,18370.0,23762.0,27955
4483,JPMorgan Chase Bank,0,Mayfair Plaza Branch,6880,11/21/2005,09/25/2008,"6160 E Colfax Ave, Unit 3",Denver,Denver,CO,80220,39.74009,-104.91667,6332.0,9679.0,13780.0,20002.0,24346.0,34781.0,45263
4484,JPMorgan Chase Bank,0,Wheat Ridge Marketplace Branch,6881,09/25/2008,NaN,7405 West 38th Avenue,Wheat Ridge,Jefferson,CO,80033,39.76939,-105.07927,8427.0,8004.0,9730.0,13750.0,16850.0,20699.0,119486
4485,JPMorgan Chase Bank,0,Belcaro Center Branch,6883,09/25/2008,NaN,747 S Colorado Blvd,Denver,Denver,CO,80246,39.70301,-104.94085,11981.0,16910.0,20200.0,22447.0,32813.0,37217.0,38278
4486,JPMorgan Chase Bank,0,Federal and Speer Branch,6886,09/25/2008,NaN,"2986 N Speer Blvd, Unit 1",Denver,Denver,CO,80211,39.75991,-105.02452,6444.0,8640.0,31856.0,29746.0,26500.0,32911.0,49637
4571,JPMorgan Chase Bank,0,Wadsworth & 52nd Banking Ctr Branch,7008,09/29/2009,NaN,5250 Wadsworth Bypass,Arvada,Jefferson,CO,80002,39.79250,-105.08050,2919.0,6211.0,8922.0,10745.0,14639.0,17965.0,21869
4589,JPMorgan Chase Bank,0,Garfield & 65th Banking Ctr Branch,7027,11/17/2009,NaN,160 West 65th Street,Loveland,Larimer,CO,80538,40.45842,-105.07817,1706.0,4838.0,8382.0,9342.0,11156.0,14008.0,16175
4597,JPMorgan Chase Bank,0,Taft & 14th Banking Center Branch,7036,12/01/2009,NaN,1375 Eagle Drive,Loveland,Larimer,CO,80537,40.37859,-105.09798,3726.0,10753.0,16691.0,22204.0,26817.0,30312.0,33442
4651,JPMorgan Chase Bank,0,Iliff and Chambers Branch,7103,07/28/2009,NaN,15300 E Iliff Ave,Aurora,Arapahoe,CO,80013,39.67468,-104.80979,4213.0,9210.0,13311.0,17213.0,22599.0,24997.0,28409
4691,JPMorgan Chase Bank,0,Meridian & Woodman Bnking Ctr Branch,7155,10/05/2010,NaN,11555 Meridian Market View,Falcon,El Paso,CO,80831,38.93851,-104.61037,NaN,2474.0,5607.0,7881.0,10703.0,12756.0,15350
4702,JPMorgan Chase Bank,0,Timberline & Custer Bnkg Ctr Branch,7174,10/19/2010,NaN,2804 South Timerline Rd,Fort Collins,Larimer,CO,80525,40.54974,-105.03905,NaN,2860.0,7256.0,10873.0,14500.0,18033.0,21621
4737,JPMorgan Chase Bank,0,Academy & Montebello Bnkg Ctr Branch,7223,03/29/2011,NaN,2550 Montebello Drive West,Colorado Springs,El Paso,CO,80918,38.90752,-104.78152,NaN,2922.0,10976.0,14599.0,15203.0,19715.0,26904
4752,JPMorgan Chase Bank,0,Willcox & College Banking Ctr Branch,7242,05/17/2011,NaN,1864 North College Avenue,Fort Collins,Larimer,CO,80524,40.61140,-105.07641,NaN,1007.0,6484.0,10363.0,14414.0,16231.0,21088
4758,JPMorgan Chase Bank,0,Hampden and Tamarac Branch,7260,11/30/2010,NaN,7293 E Hampden Ave,Denver,Denver,CO,80224,39.65315,-104.90405,NaN,4516.0,13392.0,18769.0,20334.0,26763.0,32534
4855,JPMorgan Chase Bank,0,Colfax & Garrison Banking Center Branch,7385,09/27/2011,NaN,9210 West Colfax Avenue,Lakewood,Jefferson,CO,80215,39.74031,-105.10025,NaN,NaN,3416.0,7147.0,12340.0,14260.0,18963
4971,JPMorgan Chase Bank,0,Pearl & 30th Banking Center,7508,06/18/2012,NaN,2950 Pearl Street,Boulder,Boulder,CO,80301,40.02309,-105.25477,NaN,NaN,26948.0,30559.0,37829.0,40368.0,48093
5045,JPMorgan Chase Bank,0,Colorado and Iowa Branch,7587,12/12/2011,NaN,1629 South Colorado Boulevard,Denver,Denver,CO,80222,39.68729,-104.94080,NaN,NaN,5374.0,12409.0,16943.0,24627.0,30296
5050,JPMorgan Chase Bank,0,Bromley and 4th Branch,7592,12/13/2011,NaN,411 East Bromley Lane,Brighton,Adams,CO,80601,39.97240,-104.81800,NaN,NaN,6687.0,12938.0,24807.0,33861.0,38357
5125,JPMorgan Chase Bank,0,Wadsworth & Belleview Banking Center Branch,7668,11/01/2012,NaN,5076 South Wadsworth Way,Lakewood,Jefferson,CO,80123,39.62470,-105.09101,NaN,NaN,NaN,7569.0,15956.0,25836.0,37199
5156,JPMorgan Chase Bank,0,Kent Place Banking Center Branch,7703,01/24/2013,NaN,3435 South University Boulevard,Englewood,Arapahoe,CO,80113,39.65367,-104.95953,NaN,NaN,NaN,3245.0,7467.0,18753.0,30072
5173,JPMorgan Chase Bank,0,The Hill Banking Center,7722,03/12/2013,NaN,1310 College Avenue,Boulder,Boulder,CO,80302,40.00731,-105.27594,NaN,NaN,NaN,431.0,2380.0,4665.0,9704
5399,JPMorgan Chase Bank,0,Easter and University Branch,7971,10/26/2015,NaN,6900 South University Blvd,Centennial,Arapahoe,CO,80122,39.59193,-104.96018,NaN,NaN,NaN,NaN,NaN,NaN,55675

In [28]:
dfStateDeposits.sort_values('2010 Deposits', ascending=True)

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,
ID,363738.0,362715.0,406383.0,427400.0,4.987720e+05,5.778230e+05,673964
GA,573701.0,833170.0,1235106.0,1657658.0,2.187653e+06,2.644146e+06,3179306
NV,997680.0,1240156.0,1567441.0,1881342.0,2.250576e+06,2.530200e+06,2909706
OK,1597965.0,1612901.0,1748042.0,1867995.0,2.128120e+06,2.126367e+06,4857743
WV,1611641.0,1571582.0,1684628.0,1730910.0,1.742605e+06,1.752744e+06,1812236
CT,3648779.0,3832285.0,4241384.0,4519835.0,4.802183e+06,5.003594e+06,5533022
OR,4008214.0,4010326.0,4241729.0,4438372.0,4.863094e+06,5.350523e+06,6099453
KY,4176387.0,4450080.0,5060968.0,4682846.0,5.092516e+06,5.521501e+06,5667540
WI,5732417.0,6759009.0,7293133.0,7899084.0,8.466207e+06,9.358616e+06,9410758
UT,6084730.0,6325245.0,3663922.0,4409290.0,4.257220e+06,1.210851e+07,12709215
CO,6997542.0,8642179.0,8827014.0,10836169.0,9.749824e+06,1.018713e+07,11528794
WA,9000546.0,9327661.0,10038882.0,10995788.0,1.216092e+07,1.340261e+07,15191659
NJ,9532159.0,11112342.0,11877962.0,13824392.0,1.545324e+07,1.706048e+07,19249470
FL,9708730.0,11568770.0,14901287.0,18114286.0,2.135011e+07,2.474166e+07,28836780
IN,12447950.0,12569495.0,13410713.0,14353708.0,1.571671e+07,1.682736e+07,17887763
LA,13569631.0,13967420.0,15155067.0,16134439.0,1.674408e+07,1.754247e+07,17589216
AZ,18518457.0,19217392.0,21227459.0,23358152.0,2.476008e+07,2.735852e+07,30126930
MI,20580730.0,24785129.0,28303465.0,31090021.0,3.605758e+07,3.898354e+07,42006213
IL,47511768.0,56113765.0,68488872.0,74457178.0,8.707051e+07,8.672616e+07,84405502
CA,59586426.0,63507350.0,71452096.0,80244493.0,9.134881e+07,1.022120e+08,118958728
TX,79461631.0,95184270.0,105401093.0,125006852.0,1.631469e+08,1.469289e+08,151393753
NY,281001947.0,348825565.0,390809240.0,422696548.0,4.596692e+08,4.787386e+08,536752799
OH,650350577.0,762833720.0,853440012.0,938948496.0,1.056778e+09,1.094947e+09,1183589468

In [29]:
dfStateDeposits["rank_col"] = dfStateDeposits["2010 Deposits"].rank(ascending=True)

In [30]:
dfStateDeposits.head()

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits,rank_col
State,,,,,,,,
AZ,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930,17.0
CA,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728,20.0
CO,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794,11.0
CT,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022,6.0
FL,9708730.0,11568770.0,14901287.0,18114286.0,21350108.0,24741660.0,28836780,14.0