In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("chase_deposits_us.csv")

In [4]:
data.head(10)

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594
5,JPMorgan Chase Bank,0,Mount Vernon Branch,9,02/25/1964,NaN,22 West First Street,Mount Vernon,Westchester,NY,10550,40.91144,-73.83804,146820.0,136672.0,140678.0,154313.0,1.487070e+05,1.454990e+05,151949
6,JPMorgan Chase Bank,0,Castle Hill Branch,12,12/11/1965,NaN,784 Castle Hill Avenue,Bronx,Bronx,NY,10473,40.82292,-73.84887,75131.0,80172.0,82333.0,94538.0,9.704600e+04,1.071660e+05,110592
7,JPMorgan Chase Bank,0,Burnside Avenue Branch,15,02/14/1922,NaN,5 West Burnside Avenue,Bronx,Bronx,NY,10453,40.85389,-73.90760,39888.0,42546.0,43800.0,45867.0,5.136300e+04,5.669300e+04,62993
8,JPMorgan Chase Bank,0,Gun Hill Branch,16,12/18/1950,NaN,1308 East Gun Hill Road,Bronx,Bronx,NY,10469,40.87151,-73.84823,73702.0,70049.0,70447.0,78946.0,8.067700e+04,8.275600e+04,88954
9,JPMorgan Chase Bank,0,Kingsbridge Road Branch,18,08/18/1924,NaN,66 East Kingsbridge Road,Bronx,Bronx,NY,10468,40.86671,-73.89562,69778.0,72816.0,74729.0,75470.0,7.875900e+04,8.397800e+04,88674

In [5]:
data.tail()

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
5408,JPMorgan Chase Bank,0,Alameda and Compton Blvd Branch,7981,11/03/2015,NaN,251 E Compton Blvd,Compton,Los Angeles,CA,90220,33.89601,-118.22084,NaN,NaN,NaN,NaN,NaN,NaN,3446
5409,JPMorgan Chase Bank,0,Charleston and Rancho,7982,02/02/2016,NaN,2311 W Chafrleston Blvd,Las Vegas,Clark,NV,89102,36.14270,-115.19043,NaN,NaN,NaN,NaN,NaN,NaN,2666
5410,JPMorgan Chase Bank,0,Los Olivos Branch,7984,03/15/2016,NaN,8593 Irvine Center Drive,Irvine,Orange,CA,92618,33.64412,-117.74453,NaN,NaN,NaN,NaN,NaN,NaN,6689
5411,JPMorgan Chase Bank,0,Lake Forest Branch,7988,01/01/2016,NaN,5660 Read Blvd,New Orleans,Orleans,LA,70127,30.03205,-89.97260,NaN,NaN,NaN,NaN,NaN,NaN,94133
5412,JPMorgan Chase Bank,0,Buffalo-Mm Branch,7989,01/01/2016,NaN,350 Main Street,Buffalo,Erie,NY,14202,42.88429,-78.87487,NaN,NaN,NaN,NaN,NaN,NaN,45596

In [7]:
data.shape

(5413, 20)

In [10]:
dfState = data.set_index("State")
dfState.head()

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,,,,,,,,,,,,,
OH,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
NY,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
NY,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
NY,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
NY,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594

In [12]:
dfState.groupby("State").mean().head()

,Main Office,Branch Number,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,,,,,,
AZ,0.0,3633.179688,85398.687500,33.383542,-111.899391,75895.315574,77178.281124,83572.673228,91961.228346,96719.066406,106869.234375,117683.320312
CA,0.0,5913.613161,92805.446660,35.336353,-119.409642,83221.265363,82050.839793,82603.579191,85457.394036,92364.824065,102622.498996,118602.919242
CO,0.0,4774.482456,80312.236842,39.755065,-104.976522,69282.594059,81529.990566,80245.581818,95895.300885,86281.628319,90151.601770,101129.771930
CT,0.0,3319.280000,6753.000000,41.187905,-73.375007,88994.609756,91244.880952,92204.000000,96166.702128,98003.734694,100071.880000,110660.440000
DC,0.0,4409.000000,20006.000000,38.900240,-77.038070,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
dfState.groupby("State").sum().head()

,Main Office,Branch Number,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,,,,,,
AZ,0,930094,21862064,8512.80314,-28534.34458,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930
CA,0,5931354,93083863,34629.62581,-117021.44869,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728
CO,0,544291,9155595,4532.07743,-11967.32348,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794
CT,0,165964,337650,1977.01942,-3522.00035,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022
DC,0,4409,20006,38.90024,-77.03807,0.0,0.0,0.0,0.0,0.0,0.0,0

In [17]:
dfState1 = dfState.groupby("State").sum()
dfStateDeposits = dfState1.iloc[:, 5:]
dfStateDeposits.head()

#parameters for iloc:
#  1) first : means ALL rows
#  2) 5: means all columns after the 5th column
#   [:, 5:6] means ALL rows and columns 5 and 6

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,
AZ,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930
CA,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728
CO,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794
CT,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022
DC,0.0,0.0,0.0,0.0,0.0,0.0,0

In [18]:
dfStateDeposits.describe()

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
count,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01
mean,4.796397e+07,5.648664e+07,6.324907e+07,6.975289e+07,7.870365e+07,8.163962e+07,8.886039e+07
std,1.350215e+08,1.598470e+08,1.789220e+08,1.963973e+08,2.202840e+08,2.279255e+08,2.476405e+08
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.601384e+06,1.581912e+06,1.700482e+06,1.871332e+06,2.203384e+06,2.558686e+06,3.598915e+06
50%,6.541136e+06,7.700594e+06,8.060074e+06,9.367626e+06,9.108016e+06,1.114782e+07,1.211900e+07
75%,1.728125e+07,1.790490e+07,1.970936e+07,2.204719e+07,2.390759e+07,2.670431e+07,2.980439e+07
max,6.503506e+08,7.628337e+08,8.534400e+08,9.389485e+08,1.056778e+09,1.094947e+09,1.183589e+09

In [21]:
dfStateDeposits = dfStateDeposits.drop(['DC', 'MA', 'PA'])

ValueError: labels ['DC' 'MA' 'PA'] not contained in axis

In [22]:
dfStateDeposits.head()

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,
AZ,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930
CA,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728
CO,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794
CT,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022
FL,9708730.0,11568770.0,14901287.0,18114286.0,21350108.0,24741660.0,28836780

In [24]:
dfStateDeposits.loc['CO']

2010 Deposits     6997542.0
2011 Deposits     8642179.0
2012 Deposits     8827014.0
2013 Deposits    10836169.0
2014 Deposits     9749824.0
2015 Deposits    10187131.0
2016 Deposits    11528794.0
Name: CO, dtype: float64

In [27]:
data[data.State == 'CO']

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
1825,JPMorgan Chase Bank,0,Denver Bank One Branch,3087,10/14/1963,11/13/2004,1125 17th Street,Denver,Denver,CO,80202,39.74923,-104.99499,3252426.0,4460872.0,3929176.0,5258851.0,3476423.0,3047247.0,3230688
1826,JPMorgan Chase Bank,0,Englewood Hampden Branch,3088,12/20/1910,11/13/2004,333 West Hampden Avenue,Englewood,Arapahoe,CO,80110,39.65331,-104.99245,109101.0,116638.0,117142.0,117914.0,117671.0,144800.0,156310
1827,JPMorgan Chase Bank,0,University Hills Branch,3089,03/12/1956,11/13/2004,2696 South Colorado Boulevard,Denver,Denver,CO,80222,39.66876,-104.94062,206919.0,223505.0,256021.0,254060.0,278184.0,291199.0,320073
1828,JPMorgan Chase Bank,0,Westminster Branch,3091,05/04/1959,11/13/2004,7301 North Federal Boulevard,Westminster,Adams,CO,80030,39.82864,-105.02504,157884.0,166997.0,169361.0,177463.0,174971.0,187120.0,194321
1829,JPMorgan Chase Bank,0,Littleton Branch,3093,01/01/1909,11/13/2004,5734 South Prince Street,Littleton,Arapahoe,CO,80120,39.61298,-105.01620,113479.0,121711.0,133994.0,147524.0,168159.0,187357.0,207404
1830,JPMorgan Chase Bank,0,Alameda Branch,3095,10/15/1962,11/13/2004,5500 West Alameda Avenue,Lakewood,Jefferson,CO,80226,39.71119,-105.05744,67738.0,71186.0,75921.0,83224.0,86789.0,97804.0,106955
1831,JPMorgan Chase Bank,0,Northeast Branch,3096,11/02/1992,11/13/2004,3300 Colorado Boulevard,Denver,Denver,CO,80205,39.76317,-104.94051,14613.0,14763.0,18919.0,26471.0,29339.0,34661.0,40978
1832,JPMorgan Chase Bank,0,County Line Branch,3097,06/27/1994,11/13/2004,8283 South Quebec Street,Englewood,Arapahoe,CO,80112,39.56679,-104.90444,67824.0,89941.0,100889.0,100621.0,106011.0,117224.0,139273
1833,JPMorgan Chase Bank,0,Table Mesa Branch,3098,01/01/1924,11/13/2004,603 South Broadway,Boulder,Boulder,CO,80305,39.98536,-105.24990,128826.0,145549.0,159057.0,171830.0,184106.0,192839.0,217226
1834,JPMorgan Chase Bank,0,Louisville Colorado Branch,3099,02/08/1915,11/13/2004,833 Main Street,Louisville,Boulder,CO,80027,39.97843,-105.13215,45602.0,46652.0,52011.0,57666.0,59524.0,64471.0,66872
1835,JPMorgan Chase Bank,0,Lafayette Branch,3100,07/29/1953,11/13/2004,200 North Public Road,Lafayette,Boulder,CO,80026,39.99952,-105.09047,73422.0,84916.0,86051.0,102575.0,117351.0,137932.0,140417
1836,JPMorgan Chase Bank,0,Arapahoe Branch,3101,11/28/1960,11/13/2004,2500 Arapahoe Avenue,Boulder,Boulder,CO,80302,40.01456,-105.26151,120869.0,122967.0,140630.0,162459.0,175233.0,199644.0,226740
1837,JPMorgan Chase Bank,0,Gunbarrel Branch,3102,08/02/1993,11/13/2004,6300 Gunpark Drive,Boulder,Boulder,CO,80301,40.07072,-105.20543,54273.0,56789.0,60582.0,69709.0,81184.0,93198.0,158468
1838,JPMorgan Chase Bank,0,Uptown Colorado Springs Branch,3104,05/15/1972,11/13/2004,402 North Tejon Street,Colorado Springs,El Paso,CO,80903,38.83965,-104.82445,385042.0,358496.0,401598.0,449793.0,435100.0,445502.0,356447
1839,JPMorgan Chase Bank,0,Austin Bluffs Branch,3105,09/11/1981,11/13/2004,4190 Austin Bluffs Parkway,Colorado Springs,El Paso,CO,80918,38.89260,-104.75318,52648.0,56465.0,60351.0,62262.0,68183.0,70354.0,78571
1840,JPMorgan Chase Bank,0,Manitou Springs Convenience Branch,3106,04/19/1971,11/13/2004,484 Manitou Avenue,Manitou Springs,El Paso,CO,80829,38.85754,-104.91017,25868.0,27141.0,27621.0,29179.0,31569.0,34143.0,35277
1841,JPMorgan Chase Bank,0,Loveland Branch,3107,07/02/1932,11/13/2004,200 East 7th Street,Loveland,Larimer,CO,80537,40.39853,-105.07444,107664.0,112041.0,118427.0,131836.0,147457.0,164493.0,179726
1842,JPMorgan Chase Bank,0,Loveland Motorbank Branch,3108,09/04/1973,11/13/2004,975 North Lincoln Avenue,Loveland,Larimer,CO,80537,40.40196,-105.07319,0.0,0.0,0.0,0.0,0.0,0.0,0
1843,JPMorgan Chase Bank,0,Westlake Loveland Branch,3109,12/04/1964,11/13/2004,1905 West Eisenhower Boulevard,Loveland,Larimer,CO,80537,40.40737,-105.10401,49959.0,54463.0,55763.0,61419.0,63086.0,73936.0,79195
1844,JPMorgan Chase Bank,0,Fort Collins Branch,3111,11/30/1962,11/13/2004,2000 South College Avenue,Fort Collins,Larimer,CO,80525,40.56150,-105.07686,69387.0,71243.0,80512.0,84695.0,91091.0,104212.0,116847
1845,JPMorgan Chase Bank,0,Greeley Downtown Branch,3112,01/01/1934,11/13/2004,822 7th Street,Greeley,Weld,CO,80631,40.42584,-104.69201,54443.0,57879.0,62602.0,70238.0,79258.0,79840.0,76122
1846,JPMorgan Chase Bank,0,West Greeley Branch,3115,07/05/1963,11/13/2004,2600 West Tenth Street,Greeley,Weld,CO,80631,40.42285,-104.72282,30837.0,33380.0,37168.0,42906.0,50779.0,56874.0,61343
1847,JPMorgan Chase Bank,0,Mccaslin Branch,3116,02/21/1995,11/13/2004,578 South Mccaslin Boulevard,Louisville,Boulder,CO,80027,39.96219,-105.16399,70594.0,85679.0,93603.0,107766.0,116671.0,136018.0,157396
1848,JPMorgan Chase Bank,0,Broadway & Alameda Albertson Branch,3117,05/15/1996,11/13/2004,323 South Broadway,Denver,Denver,CO,80209,39.71071,-104.98766,14866.0,17117.0,19327.0,24473.0,24435.0,27116.0,31126
1849,JPMorgan Chase Bank,0,Garden Of The Gods Albertsons Branch,3118,05/08/1996,11/13/2004,4405 Centennial Boulevard,Colorado Springs,El Paso,CO,80919,38.89497,-104.85124,12077.0,12962.0,12572.0,16043.0,16570.0,18175.0,21717
1850,JPMorgan Chase Bank,0,Washington and 12oth Albertsons Brh,3120,04/24/1996,11/13/2004,500 East 120th Avenue,Northglenn,Adams,CO,80233,39.91404,-104.98071,10915.0,12291.0,12003.0,14170.0,14759.0,16561.0,18030
1851,JPMorgan Chase Bank,0,Denver Tech Center Branch,3137,02/18/2002,11/13/2004,4968 South Yosemite Street,Greenwood Village,Arapahoe,CO,80111,39.62496,-104.88511,47970.0,62364.0,69665.0,78279.0,110898.0,125588.0,132241
1852,JPMorgan Chase Bank,0,Ken Caryl Branch,3139,08/12/2002,11/13/2004,9855 West Remington Place,Littleton,Jefferson,CO,80128,39.56470,-105.10803,31132.0,31415.0,46655.0,44458.0,54810.0,54253.0,62105
1885,JPMorgan Chase Bank,0,Boulder Downtown Banking Branch,3182,12/09/2002,11/13/2004,1301 Canyon Boulevard,Boulder,Boulder,CO,80302,40.01633,-105.27731,303690.0,331659.0,348593.0,412092.0,432497.0,510236.0,592839
1888,JPMorgan Chase Bank,0,Briargate Albertons Branch,3188,02/26/2003,11/13/2004,8750 North Union Boulevard,Colorado Springs,El Paso,CO,80920,38.95859,-104.76437,11604.0,12538.0,12976.0,16135.0,17908.0,18830.0,21073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4414,JPMorgan Chase Bank,0,Main and 119 Branch,6798,05/21/2009,NaN,390 Ken Pratt Blvd,Longmont,Boulder,CO,80501,40.15258,-105.09324,3979.0,8347.0,13757.0,19416.0,23595.0,36734.0,43614
4475,JPMorgan Chase Bank,0,Arapahoe and Yosemite Branch,6869,09/25/2008,NaN,8501 E Arapahoe Rd,Greenwood Village,Arapahoe,CO,80112,39.59516,-104.89334,20767.0,29488.0,37835.0,47908.0,43785.0,59161.0,81899
4476,JPMorgan Chase Bank,0,Golden Town Center Branch,6870,09/25/2008,NaN,17207 S Golden Rd,Golden,Jefferson,CO,80401,39.73814,-105.19449,11105.0,12880.0,17016.0,19123.0,23109.0,25593.0,32845
4477,JPMorgan Chase Bank,0,Firehouse Square Branch,6871,09/25/2008,NaN,"1038 E 6th Ave, Unit A",Denver,Denver,CO,80218,39.72559,-104.97446,19729.0,22905.0,32413.0,41586.0,59897.0,74029.0,82066
4478,JPMorgan Chase Bank,0,Iris and 28th St Branch,6872,09/25/2008,NaN,"3325 28th St, Unit 4",Boulder,Boulder,CO,80301,40.03535,-105.25853,15916.0,19431.0,23316.0,30192.0,38419.0,44871.0,54485
4479,JPMorgan Chase Bank,0,Federal and Evans Branch,6873,09/25/2008,NaN,2980 W Evans Ave,Denver,Denver,CO,80219,39.67863,-105.02412,3185.0,4252.0,5809.0,7450.0,9603.0,12682.0,14347
4480,JPMorgan Chase Bank,0,Edgewater Marketplace Branch,6874,09/25/2008,NaN,1705 Sheridan Blvd,Edgewater,Jefferson,CO,80214,39.74483,-105.05318,3133.0,5540.0,6760.0,7729.0,10844.0,13573.0,16808
4481,JPMorgan Chase Bank,0,Milestone Center Branch,6877,09/25/2008,NaN,4773 Milestone Ln,Castle Rock,Douglas,CO,80104,39.40913,-104.86340,20096.0,27963.0,36889.0,45044.0,56896.0,62293.0,86987
4482,JPMorgan Chase Bank,0,Colfax and Sable Branch,6878,03/28/2005,09/25/2008,"14601 E Colfax Ave, Unit A",Aurora,Adams,CO,80011,39.74024,-104.81822,6040.0,9794.0,12127.0,12844.0,18370.0,23762.0,27955
4483,JPMorgan Chase Bank,0,Mayfair Plaza Branch,6880,11/21/2005,09/25/2008,"6160 E Colfax Ave, Unit 3",Denver,Denver,CO,80220,39.74009,-104.91667,6332.0,9679.0,13780.0,20002.0,24346.0,34781.0,45263
4484,JPMorgan Chase Bank,0,Wheat Ridge Marketplace Branch,6881,09/25/2008,NaN,7405 West 38th Avenue,Wheat Ridge,Jefferson,CO,80033,39.76939,-105.07927,8427.0,8004.0,9730.0,13750.0,16850.0,20699.0,119486
4485,JPMorgan Chase Bank,0,Belcaro Center Branch,6883,09/25/2008,NaN,747 S Colorado Blvd,Denver,Denver,CO,80246,39.70301,-104.94085,11981.0,16910.0,20200.0,22447.0,32813.0,37217.0,38278
4486,JPMorgan Chase Bank,0,Federal and Speer Branch,6886,09/25/2008,NaN,"2986 N Speer Blvd, Unit 1",Denver,Denver,CO,80211,39.75991,-105.02452,6444.0,8640.0,31856.0,29746.0,26500.0,32911.0,49637
4571,JPMorgan Chase Bank,0,Wadsworth & 52nd Banking Ctr Branch,7008,09/29/2009,NaN,5250 Wadsworth Bypass,Arvada,Jefferson,CO,80002,39.79250,-105.08050,2919.0,6211.0,8922.0,10745.0,14639.0,17965.0,21869
4589,JPMorgan Chase Bank,0,Garfield & 65th Banking Ctr Branch,7027,11/17/2009,NaN,160 West 65th Street,Loveland,Larimer,CO,80538,40.45842,-105.07817,1706.0,4838.0,8382.0,9342.0,11156.0,14008.0,16175
4597,JPMorgan Chase Bank,0,Taft & 14th Banking Center Branch,7036,12/01/2009,NaN,1375 Eagle Drive,Loveland,Larimer,CO,80537,40.37859,-105.09798,3726.0,10753.0,16691.0,22204.0,26817.0,30312.0,33442
4651,JPMorgan Chase Bank,0,Iliff and Chambers Branch,7103,07/28/2009,NaN,15300 E Iliff Ave,Aurora,Arapahoe,CO,80013,39.67468,-104.80979,4213.0,9210.0,13311.0,17213.0,22599.0,24997.0,28409
4691,JPMorgan Chase Bank,0,Meridian & Woodman Bnking Ctr Branch,7155,10/05/2010,NaN,11555 Meridian Market View,Falcon,El Paso,CO,80831,38.93851,-104.61037,NaN,2474.0,5607.0,7881.0,10703.0,12756.0,15350
4702,JPMorgan Chase Bank,0,Timberline & Custer Bnkg Ctr Branch,7174,10/19/2010,NaN,2804 South Timerline Rd,Fort Collins,Larimer,CO,80525,40.54974,-105.03905,NaN,2860.0,7256.0,10873.0,14500.0,18033.0,21621
4737,JPMorgan Chase Bank,0,Academy & Montebello Bnkg Ctr Branch,7223,03/29/2011,NaN,2550 Montebello Drive West,Colorado Springs,El Paso,CO,80918,38.90752,-104.78152,NaN,2922.0,10976.0,14599.0,15203.0,19715.0,26904
4752,JPMorgan Chase Bank,0,Willcox & College Banking Ctr Branch,7242,05/17/2011,NaN,1864 North College Avenue,Fort Collins,Larimer,CO,80524,40.61140,-105.07641,NaN,1007.0,6484.0,10363.0,14414.0,16231.0,21088
4758,JPMorgan Chase Bank,0,Hampden and Tamarac Branch,7260,11/30/2010,NaN,7293 E Hampden Ave,Denver,Denver,CO,80224,39.65315,-104.90405,NaN,4516.0,13392.0,18769.0,20334.0,26763.0,32534
4855,JPMorgan Chase Bank,0,Colfax & Garrison Banking Center Branch,7385,09/27/2011,NaN,9210 West Colfax Avenue,Lakewood,Jefferson,CO,80215,39.74031,-105.10025,NaN,NaN,3416.0,7147.0,12340.0,14260.0,18963
4971,JPMorgan Chase Bank,0,Pearl & 30th Banking Center,7508,06/18/2012,NaN,2950 Pearl Street,Boulder,Boulder,CO,80301,40.02309,-105.25477,NaN,NaN,26948.0,30559.0,37829.0,40368.0,48093
5045,JPMorgan Chase Bank,0,Colorado and Iowa Branch,7587,12/12/2011,NaN,1629 South Colorado Boulevard,Denver,Denver,CO,80222,39.68729,-104.94080,NaN,NaN,5374.0,12409.0,16943.0,24627.0,30296
5050,JPMorgan Chase Bank,0,Bromley and 4th Branch,7592,12/13/2011,NaN,411 East Bromley Lane,Brighton,Adams,CO,80601,39.97240,-104.81800,NaN,NaN,6687.0,12938.0,24807.0,33861.0,38357
5125,JPMorgan Chase Bank,0,Wadsworth & Belleview Banking Center Branch,7668,11/01/2012,NaN,5076 South Wadsworth Way,Lakewood,Jefferson,CO,80123,39.62470,-105.09101,NaN,NaN,NaN,7569.0,15956.0,25836.0,37199
5156,JPMorgan Chase Bank,0,Kent Place Banking Center Branch,7703,01/24/2013,NaN,3435 South University Boulevard,Englewood,Arapahoe,CO,80113,39.65367,-104.95953,NaN,NaN,NaN,3245.0,7467.0,18753.0,30072
5173,JPMorgan Chase Bank,0,The Hill Banking Center,7722,03/12/2013,NaN,1310 College Avenue,Boulder,Boulder,CO,80302,40.00731,-105.27594,NaN,NaN,NaN,431.0,2380.0,4665.0,9704
5399,JPMorgan Chase Bank,0,Easter and University Branch,7971,10/26/2015,NaN,6900 South University Blvd,Centennial,Arapahoe,CO,80122,39.59193,-104.96018,NaN,NaN,NaN,NaN,NaN,NaN,55675

In [28]:
dfStateDeposits.sort_values('2010 Deposits', ascending=True)

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
State,,,,,,,
ID,363738.0,362715.0,406383.0,427400.0,4.987720e+05,5.778230e+05,673964
GA,573701.0,833170.0,1235106.0,1657658.0,2.187653e+06,2.644146e+06,3179306
NV,997680.0,1240156.0,1567441.0,1881342.0,2.250576e+06,2.530200e+06,2909706
OK,1597965.0,1612901.0,1748042.0,1867995.0,2.128120e+06,2.126367e+06,4857743
WV,1611641.0,1571582.0,1684628.0,1730910.0,1.742605e+06,1.752744e+06,1812236
CT,3648779.0,3832285.0,4241384.0,4519835.0,4.802183e+06,5.003594e+06,5533022
OR,4008214.0,4010326.0,4241729.0,4438372.0,4.863094e+06,5.350523e+06,6099453
KY,4176387.0,4450080.0,5060968.0,4682846.0,5.092516e+06,5.521501e+06,5667540
WI,5732417.0,6759009.0,7293133.0,7899084.0,8.466207e+06,9.358616e+06,9410758
UT,6084730.0,6325245.0,3663922.0,4409290.0,4.257220e+06,1.210851e+07,12709215
CO,6997542.0,8642179.0,8827014.0,10836169.0,9.749824e+06,1.018713e+07,11528794
WA,9000546.0,9327661.0,10038882.0,10995788.0,1.216092e+07,1.340261e+07,15191659
NJ,9532159.0,11112342.0,11877962.0,13824392.0,1.545324e+07,1.706048e+07,19249470
FL,9708730.0,11568770.0,14901287.0,18114286.0,2.135011e+07,2.474166e+07,28836780
IN,12447950.0,12569495.0,13410713.0,14353708.0,1.571671e+07,1.682736e+07,17887763
LA,13569631.0,13967420.0,15155067.0,16134439.0,1.674408e+07,1.754247e+07,17589216
AZ,18518457.0,19217392.0,21227459.0,23358152.0,2.476008e+07,2.735852e+07,30126930
MI,20580730.0,24785129.0,28303465.0,31090021.0,3.605758e+07,3.898354e+07,42006213
IL,47511768.0,56113765.0,68488872.0,74457178.0,8.707051e+07,8.672616e+07,84405502
CA,59586426.0,63507350.0,71452096.0,80244493.0,9.134881e+07,1.022120e+08,118958728
TX,79461631.0,95184270.0,105401093.0,125006852.0,1.631469e+08,1.469289e+08,151393753
NY,281001947.0,348825565.0,390809240.0,422696548.0,4.596692e+08,4.787386e+08,536752799
OH,650350577.0,762833720.0,853440012.0,938948496.0,1.056778e+09,1.094947e+09,1183589468

In [29]:
dfStateDeposits["rank_col"] = dfStateDeposits["2010 Deposits"].rank(ascending=True)

In [30]:
dfStateDeposits.head()

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits,rank_col
State,,,,,,,,
AZ,18518457.0,19217392.0,21227459.0,23358152.0,24760081.0,27358524.0,30126930,17.0
CA,59586426.0,63507350.0,71452096.0,80244493.0,91348811.0,102212009.0,118958728,20.0
CO,6997542.0,8642179.0,8827014.0,10836169.0,9749824.0,10187131.0,11528794,11.0
CT,3648779.0,3832285.0,4241384.0,4519835.0,4802183.0,5003594.0,5533022,6.0
FL,9708730.0,11568770.0,14901287.0,18114286.0,21350108.0,24741660.0,28836780,14.0

In [31]:
data['newEstablishedDate'] = pd.to_datetime(data["Established Date"])

In [32]:
data.head()

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,...,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits,newEstablishedDate
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,...,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000,1824-01-01
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,...,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558,1961-03-20
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,...,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940,1963-09-09
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,...,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233,1966-02-19
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,...,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594,1965-01-16

In [33]:
dfDates = data.set_index("newEstablishedDate")

In [34]:
dfDates.head()

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
newEstablishedDate,,,,,,,,,,,,,,,,,,,,
1824-01-01,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1961-03-20,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
1963-09-09,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
1966-02-19,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
1965-01-16,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594

In [36]:
dfDates = dfDates.fillna(0)
dfDates.head()

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
newEstablishedDate,,,,,,,,,,,,,,,,,,,,
1824-01-01,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,0,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1961-03-20,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,0,676 White Plains Road,Scarsdale,Westchester,NY,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
1963-09-09,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,0,410 Northern Boulevard,Great Neck,Nassau,NY,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
1966-02-19,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,0,353 North Central Avenue,Hartsdale,Westchester,NY,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
1965-01-16,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,0,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594

In [37]:
dfDates.query("State == 'OH'")

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
newEstablishedDate,,,,,,,,,,,,,,,,,,,,
1824-01-01,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,0,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1958-06-09,JPMorgan Chase Bank,0,Northern Lights Branch,1523,06/09/1958,11/13/2004,3233 Cleveland Avenue,Columbus,Franklin,OH,43224,40.03334,-82.96386,36643.0,38103.0,39137.0,39516.0,3.985500e+04,4.299400e+04,47216
1964-07-06,JPMorgan Chase Bank,0,Lockbourne Road Branch,1524,07/06/1964,11/13/2004,1650 Lockbourne Road,Columbus,Franklin,OH,43207,39.93168,-82.96471,25963.0,27126.0,28276.0,27146.0,2.709400e+04,3.106200e+04,28946
1959-11-16,JPMorgan Chase Bank,0,East Broad Branch,1525,11/16/1959,11/13/2004,3200 East Broad Street,Columbus,Franklin,OH,43209,39.97184,-82.91539,65705.0,71021.0,79951.0,86993.0,8.714000e+04,8.777100e+04,90908
1955-06-20,JPMorgan Chase Bank,0,West Broad Branch,1526,06/20/1955,11/13/2004,3100 West Broad Street,Columbus,Franklin,OH,43204,39.95452,-83.08376,49811.0,50333.0,54595.0,51029.0,5.243000e+04,5.601600e+04,62586
1963-09-03,JPMorgan Chase Bank,0,Hilliard Branch,1527,09/03/1963,11/13/2004,4056 East Main Street,Hilliard,Franklin,OH,43026,40.03457,-83.15893,54265.0,58943.0,62932.0,69336.0,7.119100e+04,7.815600e+04,85808
1963-04-01,JPMorgan Chase Bank,0,Reynoldsburg Branch,1528,04/01/1963,11/13/2004,7112 East Main Street,Reynoldsburg,Franklin,OH,43068,39.95519,-82.80773,93140.0,141077.0,116922.0,128003.0,1.424350e+05,5.237590e+05,518283
1964-06-25,JPMorgan Chase Bank,0,Morse Road Branch,1529,06/25/1964,11/13/2004,1551 Morse Road,Columbus,Franklin,OH,43229,40.06054,-82.97794,62362.0,64812.0,70042.0,75155.0,7.824600e+04,8.331500e+04,85228
1956-06-04,JPMorgan Chase Bank,0,Kingsdale Branch,1530,06/04/1956,11/13/2004,3250 Tremont Road,Columbus,Franklin,OH,43221,40.02351,-83.05896,136050.0,141744.0,155944.0,169722.0,1.777180e+05,1.779240e+05,191865
1966-05-16,JPMorgan Chase Bank,0,Forest Park Branch,1531,05/16/1966,11/13/2004,1325 East Dublin-Granville Road,Columbus,Franklin,OH,43229,40.08713,-82.98157,50873.0,45018.0,50842.0,52886.0,5.601500e+04,5.768800e+04,57937
1968-02-05,JPMorgan Chase Bank,0,Eastland Hamilton Branch,1532,02/05/1968,11/13/2004,2475 South Hamilton Road,Columbus,Franklin,OH,43232,39.92324,-82.88001,40576.0,39709.0,41868.0,44072.0,4.512400e+04,4.772100e+04,51993
1968-12-16,JPMorgan Chase Bank,0,Worthington Square Branch,1533,12/16/1968,11/13/2004,50 West Wilson Bridge Road,Worthington,Franklin,OH,43085,40.10708,-83.01766,119711.0,136219.0,140506.0,157738.0,1.685280e+05,1.721690e+05,183617
1970-06-01,JPMorgan Chase Bank,0,Clime Road Branch,1534,06/01/1970,11/13/2004,3500 Clime Road,Columbus,Franklin,OH,43223,39.92743,-83.08962,36584.0,36816.0,38104.0,40507.0,4.025400e+04,4.124800e+04,44579
1970-12-14,JPMorgan Chase Bank,0,Whitehall Columbus Branch,1535,12/14/1970,11/13/2004,4660 East Main Street,Whitehall,Franklin,OH,43213,39.95540,-82.87348,33442.0,34186.0,36931.0,37130.0,3.895200e+04,4.168100e+04,44690
1972-01-24,JPMorgan Chase Bank,0,Henderson Road Branch,1536,01/24/1972,11/13/2004,2031 West Henderson Road,Columbus,Franklin,OH,43220,40.05641,-83.07421,94507.0,106151.0,124934.0,140864.0,1.486450e+05,1.573760e+05,184030
1972-10-30,JPMorgan Chase Bank,0,Brice Road Branch,1537,10/30/1972,11/13/2004,2025 Brice Road,Reynoldsburg,Franklin,OH,43068,39.93934,-82.83027,29373.0,31510.0,33665.0,34187.0,3.421800e+04,3.865500e+04,39861
1976-08-30,JPMorgan Chase Bank,0,German Village Branch,1538,08/30/1976,11/13/2004,833 South High Street,Columbus,Franklin,OH,43206,39.94499,-82.99732,65719.0,67388.0,81326.0,83337.0,8.967200e+04,9.970200e+04,106833
1977-04-18,JPMorgan Chase Bank,0,Columbus Square Branch,1539,04/18/1977,11/13/2004,5681 Cleveland Avenue,Columbus,Franklin,OH,43231,40.08608,-82.95106,55515.0,47981.0,53543.0,51910.0,5.697500e+04,6.001600e+04,69847
1978-11-06,JPMorgan Chase Bank,0,Westerville South Branch,1540,11/06/1978,11/13/2004,77 Huber Village Boulevard,Westerville,Franklin,OH,43081,40.10522,-82.92258,130668.0,142798.0,158759.0,170459.0,1.717710e+05,1.670490e+05,178157
1979-10-02,JPMorgan Chase Bank,0,Dublin Branch,1542,10/02/1979,11/13/2004,6275 Frantz Road,Dublin,Franklin,OH,43017,40.09614,-83.12507,100973.0,112232.0,120364.0,140230.0,1.496490e+05,2.018500e+05,182229
1981-08-17,JPMorgan Chase Bank,0,Gahanna Branch,1543,08/17/1981,11/13/2004,130 North Hamilton Road,Gahanna,Franklin,OH,43230,40.02061,-82.86642,72802.0,77799.0,86791.0,97829.0,1.073470e+05,1.092350e+05,116382
1929-07-12,JPMorgan Chase Bank,0,Mt. Sterling Branch,1544,07/12/1929,11/13/2004,47 North London Street,Mount Sterling,Madison,OH,43143,39.72065,-83.26682,36740.0,36200.0,35431.0,38419.0,3.796600e+04,3.904200e+04,45442
1982-12-15,JPMorgan Chase Bank,0,Marysville Branch,1545,12/15/1982,11/13/2004,406 West Fifth Street,Marysville,Union,OH,43040,40.23680,-83.37286,42755.0,47631.0,58268.0,58456.0,5.879800e+04,6.133400e+04,67422
1863-01-01,JPMorgan Chase Bank,0,Circleville Branch,1546,01/01/1863,11/13/2004,100 East Main Street,Circleville,Pickaway,OH,43113,39.60192,-82.94499,60448.0,59081.0,62967.0,66193.0,7.115000e+04,7.314900e+04,73847
1988-01-15,JPMorgan Chase Bank,0,Sawmill Branch,1547,01/15/1988,11/13/2004,3800 Tuller Road,Dublin,Franklin,OH,43017,40.10568,-83.09206,87192.0,99684.0,115551.0,121327.0,1.266280e+05,1.344980e+05,149244
1988-08-01,JPMorgan Chase Bank,0,Long Street Branch,1548,08/01/1988,11/13/2004,1245 East Long Street,Columbus,Franklin,OH,43203,39.96875,-82.96824,6897.0,6466.0,7143.0,6911.0,6.981000e+03,8.529000e+03,8945
1989-12-26,JPMorgan Chase Bank,0,Pickerington Branch,1549,12/26/1989,11/13/2004,1785 Hill Road North,Pickerington,Fairfield,OH,43147,39.92794,-82.78771,57395.0,62196.0,68504.0,76034.0,8.217900e+04,8.715800e+04,93999
1887-01-01,JPMorgan Chase Bank,0,Sunbury Branch,1550,01/01/1887,11/13/2004,45 E Granville Street,Sunbury,Delaware,OH,43074,40.24182,-82.85853,25125.0,26610.0,31556.0,30835.0,3.134700e+04,3.146500e+04,34827
1887-01-01,JPMorgan Chase Bank,0,Delaware Branch,1551,01/01/1887,11/13/2004,61 North Sandusky Street,Delaware,Delaware,OH,43015,40.30093,-83.06759,38670.0,42592.0,48956.0,52318.0,5.570700e+04,6.189000e+04,65745
1903-07-23,JPMorgan Chase Bank,0,Newark Main Branch,1552,07/23/1903,11/13/2004,15 North Third Street,Newark,Licking,OH,43055,40.05831,-82.40289,36119.0,35777.0,33950.0,33091.0,3.699100e+04,3.256600e+04,32184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-03-31,JPMorgan Chase Bank,0,Easton Employee Center Banking Center Branch,3528,03/31/2005,0,3415 Vision Drive,Columbus,Franklin,OH,43219,40.04434,-82.92141,8802.0,10613.0,12924.0,15219.0,1.751200e+04,1.826400e+04,19357
2005-03-28,JPMorgan Chase Bank,0,Galloway Banking Center Branch,3530,03/28/2005,0,5684 West Broad Street,Galloway,Franklin,OH,43119,39.93524,-83.20081,24015.0,27076.0,31580.0,33186.0,3.600200e+04,3.905700e+04,44421
2005-12-28,JPMorgan Chase Bank,0,Waterloo Crossing Banking Ctr. Branch,3634,12/28/2005,0,6314 Gender Road,Canal Winchester,Franklin,OH,43110,39.85306,-82.82837,18281.0,20058.0,23062.0,27813.0,2.961700e+04,3.395200e+04,36931
2005-12-21,JPMorgan Chase Bank,0,Pickerington North Banking Ctr. Branch,3658,12/21/2005,0,"7915 Refugee Road, N.W.",Pickerington,Fairfield,OH,43147,39.90762,-82.73621,17194.0,18395.0,23496.0,24399.0,2.768400e+04,2.977500e+04,34597
2006-05-08,JPMorgan Chase Bank,0,Great Southern Banking Center Branch,3705,05/08/2006,0,3471 South High Street,Columbus,Franklin,OH,43207,39.89024,-82.99737,13440.0,13730.0,20120.0,20204.0,2.131200e+04,2.435600e+04,31251
2006-05-09,JPMorgan Chase Bank,0,Streetsboro Banking Center Branch,3706,05/09/2006,0,9163 State Route 43,Streetsboro,Portage,OH,44241,41.24066,-81.34557,14239.0,15935.0,18374.0,20934.0,2.337300e+04,2.614900e+04,28817
2006-05-23,JPMorgan Chase Bank,0,Hilliard Darby Banking Center Branch,3710,05/23/2006,0,6364 Scioto Darby Road,Hilliard,Franklin,OH,43026,40.03304,-83.17786,14415.0,18135.0,22374.0,21519.0,2.610100e+04,2.886200e+04,35222
2006-09-14,JPMorgan Chase Bank,0,Bexley Banking Center Branch,3743,09/14/2006,0,2660 East Main Street,Bexley,Franklin,OH,43209,39.95700,-82.92738,23354.0,24416.0,28832.0,38829.0,4.647400e+04,4.556400e+04,53614
2007-01-29,JPMorgan Chase Bank,0,New Albany Banking Center Branch,4158,01/29/2007,0,5455 West New Albany Road,New Albany,Franklin,OH,43054,40.09319,-82.82304,20644.0,26240.0,33185.0,53906.0,6.458800e+04,6.841800e+04,73499
2007-06-28,JPMorgan Chase Bank,0,Powell North Branch,4207,06/28/2007,0,7451 Sawmill Pkwy,Powell,Delaware,OH,43065,40.19508,-83.09629,11705.0,14876.0,17439.0,24911.0,2.917300e+04,3.204200e+04,38809
2007-09-12,JPMorgan Chase Bank,0,Main & Taylor Banking Center Branch,4265,09/12/2007,0,8445 East Main Street,Reynoldsburg,Licking,OH,43068,39.95579,-82.77349,7281.0,8455.0,9856.0,12259.0,1.218700e+04,1.428300e+04,15591
2007-11-08,JPMorgan Chase Bank,0,Hilliard Rome & Trabue Banking Center Branch,4293,11/08/2007,0,1600 Hilliard Rome Road,Hilliard,Franklin,OH,43026,39.98561,-83.15087,14351.0,20234.0,28335.0,35081.0,4.197800e+04,5.305200e+04,58353
2007-12-20,JPMorgan Chase Bank,0,Easton Town Center Bnkg Ctr Branch,4309,12/20/2007,0,4000 Morse Crossing,Columbus,Franklin,OH,43219,40.05203,-82.91978,19853.0,31507.0,30022.0,33678.0,4.225100e+04,4.901300e+04,57519
2008-07-15,JPMorgan Chase Bank,0,Grove City East Branch,6738,07/15/2008,0,4100 Buckeye Pkwy,Grove City,Franklin,OH,43123,39.87827,-83.03915,9903.0,11342.0,14377.0,17899.0,1.920700e+04,2.407700e+04,26255
2008-10-08,JPMorgan Chase Bank,0,Upper Arlington Branch,6739,10/08/2008,0,1431 W Lane Ave,Upper Arlington,Franklin,OH,43221,40.00689,-83.04871,9812.0,15966.0,21983.0,29848.0,3.178600e+04,3.830900e+04,48045
2008-11-13,JPMorgan Chase Bank,0,Sunbury Kroger Branch,6740,11/13/2008,0,131 St Rte 3,Sunbury,Delaware,OH,43074,40.27927,-82.85021,2139.0,4275.0,6078.0,8243.0,8.822000e+03,1.023700e+04,11965
2008-12-11,JPMorgan Chase Bank,0,Broad and Waggoner Branch,6741,12/11/2008,0,8139 E Broad St,Reynoldsburg,Franklin,OH,43068,39.98608,-82.78320,10799.0,16540.0,18653.0,20845.0,2.508000e+04,2.781600e+04,35361
2008-12-12,JPMorgan Chase Bank,0,Powell Kroger Branch,6742,12/12/2008,0,3975 W Powell Rd,Powell,Delaware,OH,43065,40.15862,-83.09515,3100.0,5489.0,6844.0,7843.0,1.004300e+04,1.084900e+04,13562
2008-12-15,JPMorgan Chase Bank,0,Dublin Kroger Branch,6743,12/15/2008,0,7100 Hospital Dr,Dublin,Franklin,OH,43016,40.10024,-83.16329,5835.0,6846.0,9487.0,12147.0,1.413100e+04,1.649500e+04,19185
2009-10-19,JPMorgan Chase Bank,0,Lewis Center Kroger Bnkg Ctr Branch,7017,10/19/2009,0,6417 Columbus Pike,Lewis Center,Delaware,OH,43035,40.20162,-83.02920,1090.0,3502.0,5501.0,7264.0,1.025300e+04,1.197400e+04,14465
2009-11-02,JPMorgan Chase Bank,0,Johnstown Kroger Banking Ctr Branch,7030,11/02/2009,0,800 West Coshocton Street,Johnstown,Licking,OH,43031,40.14594,-82.70473,1410.0,3165.0,5656.0,6319.0,7.202000e+03,8.025000e+03,10421
2009-12-10,JPMorgan Chase Bank,0,Deerfield Symmes Banking Ctr Branch,7044,12/10/2009,0,3965 W US Hwy 22 and 3,Loveland,Hamilton,OH,45140,39.25656,-84.24335,8480.0,16682.0,25792.0,29285.0,3.489700e+04,4.233400e+04,52096
2011-04-13,JPMorgan Chase Bank,0,Sawmill and Emerald Parkway Branch,7264,04/13/2011,0,7675 Sawmill Rd,Dublin,Franklin,OH,43016,40.12281,-83.09019,0.0,2835.0,11665.0,15968.0,2.220300e+04,2.717900e+04,36436
2011-11-01,JPMorgan Chase Bank,0,Cincinnati Dayton South & I-75 Banking Center,7399,11/01/2011,0,8115 Highland Pointe Drive,West Chester,Butler,OH,45069,39.34821,-84.39426,0.0,0.0,4254.0,8864.0,1.172300e+04,1.448400e+04,21347
2011-10-17,JPMorgan Chase Bank,0,Princeton Glendale Bnkg Ctr Branch,7406,10/17/2011,0,8100 Marketplace Drive,West Chester,Butler,OH,45069,39.34590,-84.41057,0.0,0.0,7711.0,12577.0,2.411400e+04,2.117500e+04,27291
2011-11-16,JPMorgan Chase Bank,0,Evendale Branch,7433,11/16/2011,0,2521 Cunningham Drive,Cincinnati,Hamilton,OH,45241,39.25412,-84.42660,0.0,0.0,4673.0,12098.0,1.716000e+04,2.020700e+04,27409
2011-07-01,JPMorgan Chase Bank,0,Canton Centre Branch,7516,07/01/2011,0,4040 Tuscarawas Street West,Canton,Stark,OH,44708,40.79673,-81.42248,0.0,0.0,43693.0,47207.0,5.087200e+04,6.343000e+04,58357
2011-07-26,JPMorgan Chase Bank,0,Mason Montgomery Branch,7527,07/26/2011,0,8605 South Mason Montgomery Road,Mason,Warren,OH,45040,39.31434,-84.31341,0.0,0.0,10789.0,22371.0,3.426900e+04,4.427800e+04,57197
2013-04-10,JPMorgan Chase Bank,0,Blue Ash Branch,7733,04/10/2013,0,9019 Plainfield Rd,Blue Ash,Hamilton,OH,45236,0.00000,0.00000,0.0,0.0,0.0,1135.0,6.198000e+03,1.499400e+04,19055
2013-08-01,JPMorgan Chase Bank,0,U Square At University Of Cincinnati Branch,7798,08/01/2013,0,219 Calhoun Street,Cincinnati,Hamilton,OH,45219,39.12825,-84.51598,0.0,0.0,0.0,0.0,3.415000e+03,7.455000e+03,14223

In [38]:
dfDates.dropna().describe()

,Main Office,Branch Number,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
count,5413.000000,5413.000000,5413.000000,5413.000000,5413.000000,5.413000e+03,5.413000e+03,5.413000e+03,5.413000e+03,5.413000e+03,5.413000e+03,5.413000e+03
mean,0.000185,4303.761685,58800.016072,36.794751,-94.045423,2.303830e+05,2.713195e+05,3.038012e+05,3.350407e+05,3.780334e+05,3.921356e+05,4.268188e+05
std,0.013592,2146.930304,30863.015686,6.770792,20.326423,8.891009e+06,1.049878e+07,1.173968e+07,1.290943e+07,1.453743e+07,1.504738e+07,1.632941e+07
min,0.000000,0.000000,2110.000000,0.000000,-124.421370,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000,2548.000000,33334.000000,33.115910,-115.061950,1.331000e+04,1.630400e+04,2.048900e+04,2.454700e+04,2.882400e+04,3.364200e+04,3.951300e+04
50%,0.000000,4274.000000,60654.000000,38.662810,-88.293020,3.587600e+04,3.868500e+04,4.361600e+04,4.832100e+04,5.387300e+04,6.000300e+04,6.815700e+04
75%,0.000000,6172.000000,89102.000000,41.032010,-81.270380,7.429800e+04,7.872000e+04,8.559000e+04,9.307600e+04,1.014350e+05,1.114780e+05,1.243180e+05
max,1.000000,7989.000000,99362.000000,48.844760,0.000000,6.331310e+08,7.432680e+08,8.324550e+08,9.165430e+08,1.032549e+09,1.069425e+09,1.155185e+09